<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="stickyHeader">
        <div>
            <img src="./Assets/Logo.png" />
        </div>
        <div>
            <p>Only</p>
        </div>
        <div>
            <p>maws</p>
        </div>
    </div>

    <div class="header" />
    <div class="contentMargin">
        <div class="contentContainer" >
            <div class="headerContent">
                <h1>Header text go brrrr</h1>
                <p>Sub header text also go brrr (but smaller)</p>
            </div>
            
            <div class="introContainer">
                <H1>This is the description title</H1>
                <p>Nuzzles, pounces on you
                    UwU, you're so warm
                    Couldn't help but notice your bulge from across the floor
                    Nuzzles your necky wecky; murr; (he-he)
                    Unzips your baggy ass pants, oh, baby, you' so musky
                    Take me home, pet me and make me yours
                    And don't forget to stuff me
                    See me wag my wittle baby tail, all for your bulgy-wulgy
                    Kissies and lickies you' neck, I hope daddy likies
                    Nuzzle and wuzzles your chest (yeah), I be (yeah) getting thirsty</p>
            </div>
        
            <div class="featuresContainer">
                <img src="./Assets/Features.png" class="featuresImage"/>
                <div class="featuresDescription">
                    <h1>Features</h1>
                    <p>Low latency something something</p>
                    <p>Eats its greens</p>
                    <p>profit</p>
                    <p>Is wacky</p>
                    <p>Actual size!</p>
                </div>
            </div>
            
            <div class="youtubeEmbedContainer">
                <iframe width="75%" height="60%" src="https://www.youtube.com/embed/QlP3eE9Vlg8" title="Lofi Video Game Beats" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
            </div>
            
            <div class="bottomLinks">
                <div class="bottomLinkContainer">
                    <p>See our documentation</p>
                    <p>Big 'ol paragraph of text goes here to <wbr /> explain the project</p>
                    <img src="./Assets/Documentation.png" />
                </div>
                <div class="bottomLinkContainer">
                    <p>Check out our kickstarter</p>
                    <p>Big 'ol paragraph of text goes here t <wbr /> explain the project</p>
                    <img src="./Assets/Kickstarter.png" />
                </div>
                <div class="bottomLinkContainer">
                    <p>Follow our projects</p>
                    <p>Big 'ol paragraph of text goes hereto <wbr /> explain the project</p>
                    <img src="./Assets/Projects.png" />
                </div>
            </div>
            
            <div class="emailListContainer">
                <div class="email">
                    <p>Subscribe to our emails!</p>
                    <input type="email" />
                </div>
                <div class="socials">
                    <img src="./Assets/Twitter.png" />
                    <img src="./Assets/Instagram.png" />
                    <img src="./Assets/tiktok.png" />
                    <img src="./Assets/Youtube.png" />
                </div>
            </div>
        </div>  
</div>
</body>
</html>